<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Odell's Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="StyleSheet.css" />
    <style>
        body {
            background-color: lightgrey;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class=" col-md-1">
            <h4 style="color:deepskyblue">Placeholder</h4>

        </div>

        <div class=" col-md-9">
            <nav>
                <a href="/References/">Refs</a> |
                <a href="/Settings/">Settings/Profile</a> |
                <a href="/AboutUs/">AboutUs</a> |

            </nav>
        </div>

        <div class="img-wrapper">
            <img class="img-responsive" src="https://i7.uihere.com/icons/156/533/242/instagram-person-profile-user-icon-5e69ea55c8a4fc657fa8244079a2d145.png" alt="Profile Page" />
            <div class="img-overlay">

                <button type="button" class="btn btn-primary">Login</button>
                <button type="button" class="btn btn-secondary">Register</button>

            </div>
        </div>

    </div>



    <header>
        <h1>General Questions</h1>
        <div class="topnav">
            <input type="text" placeholder="Search..." name="search" />

        </div>

    </header>

    <section>
        <h1 class="Home" id="Forums">
            Home>Forums
        </h1>

    </section>

    <div class="w3-sidebar w3-bar-block w3-card" style="width:25%;right:0;">
        <h3 class="w3-bar-item">Menu</h3>
        <a href="https://www.marines.mil/" class="w3-bar-item w3-button">United States Marine Corps</a>
        <a href="https://www.army.mil/" class="w3-bar-item w3-button">United States Army</a>
        <a href="https://www.navy.mil/" class="w3-bar-item w3-button">United States Navy</a>
        <a href="https://www.uscg.mil/" class="w3-bar-item w3-button">United States Coast Guard</a>
        <a href="https://www.spaceforce.mil/" class="w3-bar-item w3-button">United States Space Force</a>

    </div>

    <div style="margin-right:25%">

    </div>



</body>
</html>
